.entry-image-box {
    width: 100%;
    // position: absolute;  

}
.custom-shape-divider-bottom-1628643098 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628643098 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 331px;
}

.custom-shape-divider-bottom-1628643098 .shape-fill {
    fill:rgb(255, 255, 255);
}

.entry-image-box > img {
    width: 100%;
    height: auto;
    
}
.entry-img-types {
  position: absolute;
  margin-top: 200px;
  width: 33%;
  height: auto;
  margin-left: 80px;
}
.entry-img-types > h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.entry-middle-div {
  position: absolute;
  width: 100%;
  height: 2000px;
  margin-top: 690px;
  background-color: rgb(255, 255, 255);

}
