.login-signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9%;
    font-size: 20px;
    
}
.login-signup > .signup {
    border-radius: 35%;
    text-align: center;
    width: 45%;
    border: 2px solid black;
    padding: 3%;
}
.logout-upload-photo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18%;
    font-size: 20px;
    list-style: none;
    li {
        padding: 5px 10px;
        ul {
            display: none;
        }
    }
}
.user-icon > ul {
    li {
        font-size: 5px;
        button {
            border: none;
        }
    }
}


.logout-upload-photo > li:hover > ul {
    display: block;
    position: absolute;
    height: 200px;
    margin-top: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: honeydew;
    border-inline: rgb(208, 202, 202);
    li {
        border: none;
    }
     
}
.drop-menu:hover {
    display: block;
}


.upload-photo {
    border-radius: 35%;
    text-align: center;
    width: 30%;
    border: 2px solid black;
    padding: 3%;
}