.login-signup {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    a {
        padding: 0 10%;
    }
    
}
.login-signup > .signup {
    border-radius: 50px 50px;
    text-align: center;
    width: 35%;
    height: 15px;
    min-width: 70px;
    max-width: 80px;
    border: 2px solid black;
    padding: 3%;
    padding-bottom: 4%;
}
.logout-upload-photo {
    display: flex;
    margin-right: 2%;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    font-size: 20px;
    list-style: none;
    li {
        padding: 5px 1%;
        ul {
            display: none;
        }
    }
}
.user-icon:hover {
    cursor: pointer;
}
.drop-menu {
    position:relative;
    z-index: 10;
    border-radius: 5px;
    background-color: blanchedalmond;
    li {
      
        color: rgba(0, 0, 0, 0.606);
      
        #logout-button {
        font-size: 1.3rem;
        opacity: 0.6;
        background: transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        font-family: inherit;
        padding: 2px;
        }
        #logout-button:hover {
            color:cornflowerblue;
            cursor: pointer;
        }
        a {
        font-size: 1.3rem;
        opacity: 0.6;
        }
    }
}
.drop-menu:hover {
    cursor: pointer;
}


.logout-upload-photo > li:hover > ul {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;
    margin-top: 5px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-inline: rgb(208, 202, 202);
    li {
        border: none;
    }
     
}
.drop-menu:hover {
    display: block;
}


.upload-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px;
    text-align: center;
    padding-bottom: 1%;
    width: 45%;
    height: 20px;
    min-width: 70px;
    max-width: 80px;
    border: 2px solid black;
    padding: 3%;
    padding-bottom: 4%;
    a {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    }
}