.photo-index-box {
    // margin-top: 3%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 1%;
    .entry-img-editor-choice {
        width: 100%;
        margin-bottom: 3%;
      
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }
    .column-of-header {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 5%;
        flex-direction: column;
        align-items: center;
        h1 {
            padding-bottom: 10px;
        }
        p {
            padding-bottom: 20px;
        }
        a {
            text-align: center;
            font-size: 25px;
            color: white;
            width: 25%;
            padding-top: 1%;
            height: 50px;
            border-radius: 50px 50px;
            background-color: rgba(0, 0, 0, 0.852);
        }
        a:hover {
            cursor: pointer;
        }
    }
    .editor-choice {
        height: 500px;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: auto;
            height: 100%;
        }
}

}
