.photo-index-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: black;
    border-top: black;
   
}
.photo-index-container > .first-item {
    display: flex;
    height: 75px;
    line-height: 1.5em;
    flex-direction: column;
    align-items: center;
   
}
.featured-photos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1%;
    line-height: 1.5rem;
    width: 100%;
    height: 330px;
    padding-left:10%; 
    padding-right: 10%;
    border-bottom: 0.5px ridge rgba(0, 0, 0, 0.284);
    border-top: 0.5px ridge rgba(0, 0, 0, 0.284);
    h2 {
        padding-top: 1%;
        padding-left: 3%;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.674);
        font-size: 18px;
    }
    p {
       padding-left: 3%;
       color: rgba(0, 0, 0, 0.674);
       padding-bottom: 1%;
    }
}
.photos-slices-container {
    box-sizing: border-box;
    display: flex;
    overflow: scroll;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-left:64px; 
    padding-right: 50px; 
    .photo-with-user {
        padding-right: 5%;

    }
}
.photo-item-container {
    display: flex;
}
.photo-img {
    width: auto;
    height: 180px;
}
.photos-all {
    margin-top: 3%;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .one-section {
        width: 25%;
        height: 500px;
        margin-left: 1%;
        padding-bottom: 1%;
        padding-top: 0.5%;
        margin-right: 1%;
        line-height: 1.5rem;
        color: rgba(0, 0, 0, 0.674);
        border: outset rgb(216, 212, 212);
        // border-radius: 0.5px solid rgb(200, 194, 194)rey;
        p {
            margin-bottom: 2%;
            padding-left: 5%;
            color: rgba(0, 0, 0, 0.674);
        }
        h2 {
            padding-left: 5%;
            color: rgba(0, 0, 0, 0.674);
        }
        .column {
            display: flex;
            flex-direction: column;
            padding: 0;
            // align-items: flex-start;
            // justify-content: center;
            .row {
                display: flex;
                padding: 0;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                div {
                    a {
                        padding: 0;
                        img {
                            height: 220px;
                        }
                    }
                }
            
            }
        }
    }
}
.last-div {
    height: 500px;
}