
.photo-show-container {
    width: 100%;
    margin-top: 7%;
    height: 60%;
    box-sizing: border-box;
    display: table;
    // flex-direction: column;
   
    padding-left: 64px;
    padding-right: 50px;
};
.photo-box {
    width: 100%;
   
    background-color: rgba(1, 1, 0, 0.701);
    display: table-cell;
    text-align: center;
    vertical-align: middle;}
.photo-show-img {
    width: 30%;
    height: 50%;
    height: auto;
}

.after-show-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.photo-show-info {
    // padding-left: 64px;
    line-height: 1.5rem; 
    width: 40%;
    height: 50vh;
    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
        width: 30%;
        padding-bottom: 5%;
    }
    .center-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }
    p {
        padding-top: 5%;
        padding-left: 10%;
        font-size: 20px;
    }
}


.photo-info-box {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content:space-around;
    img {
        width: 85px;
        height: 70px;
        border-radius: 100%;
    }
    
    .next-to-photo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        h2 {
            padding-left: 10%;
        }
        p:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
    
    
}
.comment-container {

    padding-right: 50px;
    width: 30%;
    .upgrade {
        height: 10hv;
    }
}