/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(244, 243, 243);
}
 .header {
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-left:64px; 
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    z-index: 4;
    top: 0px;
 }
 .header > .header-links > .header-link-up {
    font-size: 12px;
    position: relative;
    color:cornflowerblue;
}
 a {
    text-decoration: none;
 }
 a:hover {
     cursor: pointer;
     color: cornflowerblue;
 }
