// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-signup {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 180px;
    height: 25px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    
}
.login-signup > .signup {
   border-radius: 25px;
   text-align: center;
   width: 70px;
   border: 2px solid black;
   padding: 10px;
    
}
.upload-photo {
    border-radius: 25px;
   text-align: center;
   width: 70px;
   border: 2px solid black;
   padding: 10px;
}
// .header-button {
//     padding: 0;
//     border: none;
//     background: none;
// }

.login-form-box > .login-form {
    padding: 20px;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(140, 140, 140);
    position: absolute;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    top: 28%;
    left: 40%;
    border: 0.1px solid rgb(234, 232, 232);
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
}



